[user]
	name = Tim Tate
	email = timttate@gmail.com
[alias]
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	dt = difftool
	mt = mergetool
	smu = submodule update
	smi = submodule init
	sm = submodule
[core]
	excludesfile = /Users/ttate/.gitignore_global
[color]
	ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = upstream
[rerere]
	enabled = true
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[init]
	templatedir = ~/.git_template
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
